/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* colors */
:root {
    --text: rgba(25, 25, 25); /* #191919 */
    --light-text: rgba(89, 89, 89); /* #595959 */
    --extra-light-text: rgba(214, 214, 214); /* #D6D6D6 */
    --dark-pink: rgba(190, 56, 103); /* #BE3867 */
    --darker-pink: rgba(95, 28, 52); /* #5F1C34 */
    --pink: rgba(191, 106, 147); /* #BF6A93 */
    --light-pink: rgba(213, 166, 189); /* #D5A6BD */
    --extra-light-pink: rgba(245, 233, 234); /* #F5E9EA */
    --dark-orange: rgba(217, 116, 26); /* #D9741A */
    --orange: rgba(246, 178, 107); /* #F6B26B */
    --light-orange: rgba(253, 236, 218); /* #FDECDA */
    --red: rgba(204, 65, 37); /* #CC4125 */
    --light-red: rgba(242, 208, 200); /* #F2D0C8 */
    --yellow: rgba(255, 217, 102); /* #FFD966 */
    --light-green: rgba(231, 242, 228); /* #E7F2E4 */
    --dark-green: rgba(77, 133, 124); /* #4D857C */
}

.darker-pink {
    color: var(--darker-pink);
}

.dark-pink {
    color: var(--dark-pink);
}

.pink {
    color: var(--pink);
}

.light-pink {
    color: var(--light-pink);
}

.orange {
    color: var(--orange);
}

.dark-orange {
    color: var(--dark-orange);
}

.red {
    color: var(--red);
}

.yellow {
    color: var(--yellow);
}

.dark-green {
    color: var(--dark-green);
}

.light-text {
    color: var(--light-text);
}

/* display / formatting */
.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.spaced {
    letter-spacing: 1px;
}

/* general stuff */
::-moz-selection {
    background: var(--dark-pink);
    color: white;
}

::selection {
    background: var(--dark-pink);
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 100px var(--extra-light-pink) inset !important;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
    animation-play-state: paused !important;
}

@keyframes fadeInActivate {
    to {
        opacity: 1;
        pointer-events: auto;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    opacity: 0;
    pointer-events: none;
    animation: fadeInActivate 1.5s ease forwards;
    font-size: calc(14px + 0.6vw);
    line-height: calc(28px + 0.8vw);
    font-weight: 400;
    color: var(--text);
    min-height: 100vh;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
}

h3 {
    font-size: 1.1em;
}

p {
    font-family: "Source Sans Pro", sans-serif;
    line-height: calc(24px + 0.5vw);
    margin-bottom: calc(10px + 0.5vw);
}

p.center {
    text-align: center;
}

a, .link {
    text-decoration: underline;
    color: var(--text);
    transition: color .5s linear, background-color .5s linear, border-color .5s linear;
    cursor: pointer;
}

a:hover, .link:hover {
    color: var(--dark-pink);
}

input, .slider-label, select, .slider-param-label span, .expand, .button.cont {
    font-family: "Roboto Mono", monospace;
    font-size: calc(12px + 0.4vw);
}

input:focus, select:focus {
    outline: none;
}

/* continue button */
.continue {
    position: absolute;
    bottom: calc(20px + 1vw);
    left: 50%;
    font-size: 2.5em !important;
    z-index: 9999;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0.6;
    cursor: pointer;
}

.continue:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.continue.hide {
    pointer-events: none;
    transform: scale(0) translateY(-100%) !important;
    height: auto !important;
    min-height: auto !important;
}

/* next page button */
.next-page {
    position: absolute;
    bottom: calc(20px + 1vw);
    right: calc(20px + 1vw);
    z-index: 9999;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    color: var(--dark-pink);
    transition: 0.5s;
}

.next-page:hover {
    color: var(--darker-pink);
    transform: translateX(-5px);
    transition: 0.5s;
}

.next-page.clicked {
    color: var(--text);
}

/* slides */
.hide {
    visibility: hidden;
    height: 0 !important;
    min-height: 0 !important;
    transform: scale(0);
    opacity: 0;
    padding: 0 !important;
    transition: 0.5s;
}

section {
    width: 100%;
    padding: calc(30px + 4vw);
    height: auto;
    min-height: 100vh;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

section img {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

/* button */
.button {
    border-style: none;
    width: auto;
    background-color: var(--light-pink);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    padding: calc(8px + 0.1vw) calc(24px + 0.4vw);
}

.button.dark {
    background-color: var(--dark-pink);
}

.button.center {
    display: block;
    margin: auto;
}

.button:hover {
    background-color: var(--dark-pink);
    transition: 0.5s;
}

.button.dark:hover {
    background-color: var(--darker-pink);
    letter-spacing: 1px;
}

/* one-field form input */
form.one-input {
    height: calc(32px + 0.8vw);
    display: flex;
    margin: auto;
    margin-top: calc(18px + 0.5vw);
    max-width: 500px;
    width: 90%;
    border: 2px solid var(--light-pink);
    border-radius: 10px;
    transition: 0.5s;
}

@media (min-width: 1600px) {
    form.one-input {
        max-width: 600px;
    }
}

form .text {
    border-style: none;
}

form .text {
    width: 75%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-indent: calc(10px + 0.5vw);
}

form .button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 0;
    width: 50%;
}

.clicked .one-input {
    border: 2px solid var(--text);
}

.clicked .button {
    background-color: var(--text);
}


@media (max-width: 500px) {
    form .text {
        width: 50%;
    }
}

.output {
    color: var(--dark-orange);
    text-align: center;
    font-style: italic;
    font-family: "Roboto Mono", monospace;
    font-size: calc(12px + 0.4vw);
    border-top: 2px solid var(--dark-orange);
    border-bottom: 2px solid var(--dark-orange);
    padding: calc(8px + 0.2vw);
    margin-bottom: calc(18px + 0.5vw);
}

.content .hide {
    height: auto !important;
    min-height: auto !important;
    transform: scale(1) !important;
}

.clicked {
    pointer-events: none;
    opacity: 0.6;
    transition: 0.5s;
}

/* slider */
.slider-top-text, .button-top-text {
    text-align: center;
    margin-bottom: 0;
    margin-top: calc(24px + 0.4vw);
    font-style: italic;
    color: var(--light-text);
}

.slider-container {
    width: 100%;
    display: flex;
    transition: 0.5s;
    align-items: center;
}

.slider-label {
    text-align: center;
    line-height: calc(20px + 0.4vw);
    transition: 0.5s;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: calc(12px + 0.2vw);
    background-image: linear-gradient(to right, var(--light-pink), var(--orange));
    border-radius: 3px;
    outline: none;
    opacity: 0.7;
    transition: 0.5s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: calc(16px + 0.4vw);
    height: calc(16px + 0.4vw);
    border-radius: 5px;
    outline: none;
    background: var(--text);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: calc(16px + 0.4vw);
    height: calc(16px + 0.4vw);
    border-radius: 5px;
    outline: none;
    background: var(--text);
    cursor: pointer;
}

/* button question */
.button-container {
    padding-bottom: calc(18px + 0.5vw);
}

.buttons {
    padding-top: calc(12px + 0.2vw);
    width: 100%;
    display: flex;
    column-gap: calc(16px + 0.6vw);
    row-gap: calc(10px + 0.2vw);
    justify-content: center;
}

.buttons .button {
    background-color: white;
    border: 2px solid var(--light-pink);
    color: var(--light-pink);
}

.buttons .button.selected {
    background-color: var(--text) !important;
    color: white !important;
    border: 2px solid var(--text) !important;
}

.buttons .button:nth-child(3n+2), .buttons.two-opt .button {
    border: 2px solid var(--dark-pink);
    color: var(--dark-pink);
}

.buttons .button:nth-child(3n+3), .buttons.two-opt .button:nth-child(2n) {
    border: 2px solid var(--orange);
    color: var(--orange);
}

.buttons .button:hover {
    background-color: var(--light-pink);
    color: white;
}

.buttons .button:hover:nth-child(3n+2), .buttons.two-opt .button:hover {
    background-color: var(--dark-pink);
}

.buttons .button:hover:nth-child(3n+3), .buttons.two-opt .button:hover:nth-child(2n) {
    background-color: var(--orange);
    color: white;
}

.buttons.two-opt .button {
    padding: calc(8px + 0.1vw) calc(32px + 1vw)
}

@media (max-width: 600px) {
    .buttons {
        display: grid;
    }
    .buttons.two-opt {
        display: flex;
    }
}

/* INTRO / P(GUESS) */
.quiz .content {
    width: 100%;
}

.quiz {
    text-align: center;
}

.three-letters {
    max-width: 80%;
    display: inline-block;
    column-count: 3;
    column-gap: 0;
}

.three-letters .letter-image {
    max-width: 120px;
    width: 100%;
}

#bkt-answer {
    transition: 0.5s;
}

.letter-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: calc(18px + 0.5vw);
    width: 100%;
    column-gap: calc(10px + 2.5vw);
}

.letter-text {
    text-align: center;
    margin: auto;
}

.letter-text p {
    margin-bottom: 0 !important;
    font-style: italic;
}

.letter {
    display: flex;
    column-gap: calc(12px + 1vw);
    position: relative;
}

.letter .letter-image {
    max-width: 100px;
    width: 80%;
}

.single.letter .letter-image {
    max-width: 120px;
}

@media (max-width: 750px) {
    .letter {
        display: block;
    }
}

#slider-answer {
    padding-top: calc(24px + 0.4vw);
    transition: 0.5s;
}

#slider-answer.hide {
    padding-top: calc(24px + 0.4vw) !important;
}

/* P(INIT) */
.reveal-text, .reveal-ans {
    transition: 0.5s;
}

#cat-img {
    max-width: 300px;
}

.answer {
    font-family: 'Montserrat';
    margin-bottom: calc(18px + 1vw);
    letter-spacing: 1px;
}

.init-ans.hide {
    transform: scale(1) !important;
}

.init-ans {
    transition: 0.5s;
}

.emphasis {
    font-weight: 700;
    letter-spacing: calc(2px + 0.2vw);
    color: var(--dark-orange);
    font-style: italic;
}

@keyframes floatUpZoom {
    to {
        transform: translateY(-75%) scale(1.5);
        opacity: 1;
    }
}

#mastery-bar.hide #mastery-arrow {
    animation-play-state: paused !important;
}

#mastery-arrow {
    color: var(--dark-orange);
    font-size: 2em;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    padding-bottom: calc(20px + 1vw);
    animation: floatUpZoom 1.5s ease forwards;
    animation-delay: 2s;
}

/* mastery bar */
#mastery.hide {
    transform: scale(1) translateX(-100%) !important;
    height: auto !important;
    min-height: auto !important;
}

#mastery, #mini-mastery .progress-bar {
    width: 100%;
    height: calc(20px + 1vw);
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background-color: var(--extra-light-pink);
    transition: 0.5s;
    z-index: 99999;
    cursor: pointer;
}

#mastery:hover #labels, #mastery:hover .bar-label {
    opacity: 1;
    transition: 0.5s;
}

#mastery:hover #progress span {
    opacity: 0;
    transition: 0.5s;
}

#mastery.clicked {
    background-color: var(--extra-light-text);
}

#progress {
    background-color: var(--light-pink);
    height: 100%;
    transition: 0.5s;
    font-family: "Roboto Mono", monospace;
    color: white;
    padding-left: calc(10px + 0.5vw);
    font-size: 0.8em;
    align-items: center;
    display: flex;
    transition: 0.5s;
}

#mastery.clicked #progress {
    background-color: var(--light-text);
}

#progress span {
    transition: 0.5s;
}

#mastery.clicked #progress span {
    opacity: 0;
}

.bar-label {
    opacity: 0;
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    align-items: center;
    transition: 0.5s;
    padding-left: calc(10px + 0.5vw);
    font-family: "Roboto Mono", monospace;
    color: var(--pink);
}

.bar-label span {
    margin-right: 10px;
}

.bar-label.right {
    padding-right: calc(10px + 0.5vw);
    padding-left: 0;
    color: var(--dark-pink);
}

.bar-label.right span {
    margin-left: 10px;
    margin-right: 0;
}

#labels {
    opacity: 0;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 calc(10px + 0.5vw);
    align-items: center;
    transition: 0.5s;
}

#labels h5 {
    width: 50%;
    color: var(--darker-pink);
}

#labels .left {
    text-align: left;
    color: white;
}

#labels .right {
    text-align: right;
}

#mastery-line {
    height: 100%;
    width: 5%;
    border-left: calc(2px + 0.2vw) solid var(--dark-pink);
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s;
}

#mastery.clicked #mastery-line {
    border-color: var(--text);
}

@media (max-width: 500px) {
    .bar-label {
        position: relative;
        display: inline-block;
        left: 0 !important;
        right: 0 !important;
    }

    .bar-label.right {
        float: right;
    }

    .bar-label span {
        margin-left: 0 !important;
        margin-right: 0 !important;
        transform: rotate(90deg);
        display: inline-block;
    }

    .bar-label.right span {
        transform: rotate(-90deg);
    }

    #progress {
        font-size: 0.6em;
        padding-left: calc(6px + 0.2vw);
    }

    #labels {
        padding: 0 calc(6px + 0.2vw);
        font-size: 0.6em;
    }
}

/* P(TRANSIT) */
/* gifs */
.gif-grid {
    padding-top: calc(20px + 1vw);
    display: flex;
}

.gif-grid .grid-square {
    position: relative;
    width: 50%;
    max-width: 300px;
    text-align: center;
}

.gif-grid img {
    width: 100%;
}

.gif-grid h3 {
    font-weight: 400;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid var(--dark-pink);
    color: var(--dark-pink);
    padding: calc(6px + 0.1vw) calc(16px + 0.2vw);
    width: fit-content;
    font-family: "Roboto Mono", monospace;
}

.gif-grid h3.orange {
    color: var(--orange);
    border: 2px solid var(--orange);
}

@media (max-width: 500px) {
    .gif-grid h3 {
        font-size: 1em;
        padding: calc(4px + 0.05vw) calc(14px + 0.1vw);
    }
}

/* fill in the blanks question */
.no-space {
    margin-bottom: 0 !important;
}

form.fill-in-blanks, form.radio, form.test {
    padding: calc(20px + 1vw);
    border: 2px solid var(--extra-light-text);
    border-radius: 10px;
    margin-bottom: calc(18px + 0.5vw);
}

form.fill-in-blanks .button, form.radio .button, form.test .button {
    display: block;
    height: calc(32px + 0.8vw);
    border-radius: 10px !important;
    width: auto !important;
    margin: calc(12px + 0.2vw) 0 0;
    padding: 0 calc(20px + 1vw);
}

select {
    height: calc(32px + 0.8vw);
    width: auto;
    min-width: 100px;
    max-width: 240px;
    padding-left: calc(10px + 0.2vw);
    padding-right: calc(24px + 1vw);
    border: 2px solid var(--light-pink);
    border-radius: 10px;
    transition: 0.5s;
    background-image: linear-gradient(45deg, transparent 50%, var(--pink) 50%), linear-gradient(135deg, var(--pink) 50%, transparent 50%), linear-gradient(to right, var(--pink), var(--pink));
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 0px 1.5em;
    background-repeat: no-repeat;
    margin: 0;
    color: var(--pink);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

select:hover {
    border-color: var(--orange);
    background-position: calc(100% - 20px) calc(1em - 1px), calc(100% - 15px) calc(1em - 1px), calc(100% - 2.5em) 0.5em;
    transition: 0.5s;
}

select:focus {
    background-position: calc(100% - 20px) calc(1em - 1px), calc(100% - 15px) calc(1em - 1px), calc(100% - 2.5em) 0.5em;
    background-image: linear-gradient(45deg, transparent 50%, var(--orange) 50%), linear-gradient(135deg, var(--orange) 50%, transparent 50%), linear-gradient(to right, var(--orange), var(--orange));
    border-color: var(--orange);
    color: var(--text);
    outline: 0;
    transition: 0.5s;
}

.blank-answer {
    color: var(--dark-pink);
    font-family: "Roboto Mono", monospace;
    font-size: calc(12px + 0.4vw);
}

.blank-answer.dark-orange {
    color: var(--dark-orange);
}

.blank-answer.pink {
    color: var(--pink);
}

.blank-answer.darker-pink {
    color: var(--darker-pink);
}

/* select correct answer (radio button form) */
form.radio {
    font-family: "Source Sans Pro", sans-serif;
}

.radio-choice label {
    margin-left: calc(5px + 0.1vw);
    pointer-events: none;
}

.radio-choice {
    display: flex;
    position: relative;
    padding-left: calc(35px + 0.4vw);
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-choice input {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: calc(24px + 0.1vw);
    width: calc(24px + 0.1vw);
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: calc(24px + 0.1vw);
    width: calc(24px + 0.1vw);
    background-color: var(--extra-light-text);
    border-radius: 50%;
    transition: 0.5s;
}

.radio-choice input:hover ~ .checkmark {
    background-color: var(--light-text);
    transition: 0.5s;
}

.radio-choice input:checked ~ .checkmark {
    background-color: var(--dark-pink);
    transition: 0.5s;
}
.radio-choice input:checked ~ .checkmark:after {
    transition: 0.5s;
    opacity: 1;
}

.radio-choice .checkmark:after {
    content: "";
    display: block;
    margin: auto;
    width: 40%;
    height: 40%;
    position: relative;
    border-radius: 50%;
    background: white;
    top: 50%;
    opacity: 0;
    transform: translateY(-50%);
    transition: 0.5s;
}

.full-width {
    width: 100%;
}

/* P(SLIP) */
.alphabet-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    transition: 0.5s;
    width: 80%;
    margin: auto;
    padding: calc(20px + 2vw) 0;
    margin-bottom: calc(16px + 1px);
}

.alphabet-grid .letter {
    display: block;
}


@media (max-width: 700px) {
    .alphabet-grid {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }
}

section.extra-padding.hide {
    padding-bottom: 0 !important;
}

section.extra-padding {
    padding-bottom: calc(50px + 4vw) !important;
}

/* TEST */
.two-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: 0.5s;
    column-gap: calc(20px + 1vw);
    row-gap: calc(20px + 1vw);
    align-items: center;
}

@media (max-width: 1000px) {
    .two-grid, .two-grid.test {
        grid-template-columns: 1fr !important;
    }
}

/* Sliders */
.sliders.test .slider-label {
    margin-bottom: 0 !important;
    color: var(--light-text) !important;
}

.slider-param-label {
    text-align: left;
    font-style: italic;
}

.slider-param-label span {
    font-style: normal;
    transition: 0.5s;
}

.slider-param-label.inactive span {
    font-style: normal;
    opacity: 0;
    transition: 0.5s;
}

.sliders.test .slider-all {
    margin-bottom: calc(12px + 0.4vw);
}

.sliders.test .slider {
    margin: 0 10px;
}

.param-desc {
    font-size: calc(10px + 0.5vw);
    line-height: calc(18px + 0.5vw);
    transition: 0.5s;
}

.slider.pink {
    background-image: linear-gradient(to right, var(--light-pink), var(--extra-light-pink), var(--light-pink)) !important;
}

.slider.dark-pink {
    background-image: linear-gradient(to right, var(--darker-pink), var(--light-pink), var(--darker-pink)) !important;
}

.slider.orange {
    background-image: linear-gradient(to right, var(--orange), var(--light-orange), var(--orange)) !important;
}

/* parameter matching */
.two-grid form {
    margin-bottom: 0;
}

form .two-grid {
    grid-template-columns: 2fr 1fr;
    column-gap: calc(10px + 0.5vw);
    row-gap: calc(10px + 0.5vw);
    margin-bottom: calc(16px + 1vw);
}

form .two-grid p {
    margin-bottom: 0 !important;
}

form .two-grid select {
    color: var(--light-text);
    border: 2px solid var(--extra-light-text);
    background-image: linear-gradient(45deg, transparent 50%, var(--light-text) 50%), linear-gradient(135deg, var(--light-text) 50%, transparent 50%), linear-gradient(to right, var(--light-text), var(--light-text));
}

form .two-grid select:hover {
    letter-spacing: 1px;
}

form .two-grid select.orange:hover {
    border-color: var(--orange);
}

form .two-grid select.pink:hover {
    border-color: var(--pink);
}

form .two-grid select.dark-pink:hover {
    border-color: var(--darker-pink);
}

form select.correct {
    background-color: var(--light-green);
}

form select.wrong {
    border-color: var(--red);
}

@media (max-width: 600px) {
    form .two-grid {
        grid-template-columns: 1fr;
    }

    form .two-grid select {
        max-width: none;
        width: 100%;
    }
}

.emphasis.dark-green {
    color: var(--dark-green);
    font-size: larger;
    text-align: center;
}

.ans-list {
    margin-bottom: calc(14px + 1vw);
}

.ans-list span {
    display: block;
}

/* MATH */
.button.expand, .button.cont {
    border-radius: 10px !important;
    position: relative;
}

.button.expand:hover {
    letter-spacing: normal !important;
}

.button.expand span {
    float: right;
    transition: 0.5s;
}

.button.expand.active {
    background-color: var(--darker-pink);
    border-radius: 10px 10px 0 0 !important;
}

.button.expand.active span {
    transform: rotate(180deg);
    transition: 0.5s;
}

.math-desc {
    transition: 0.5s;
    border-radius: 0 0 10px 10px;
    border: 2px solid var(--darker-pink);
    border-top: none;
    padding: calc(16px + 1vw);
}

.formula {
    width: 80%;
    margin-bottom: calc(10px + 0.2vw);
    transition: 0.5s;
    max-width: 900px;
}

.formula.long {
    width: 90%;
    max-width: 980px;
}

@media (max-width: 800px) {
    .formula, .formula.long {
        width: 100%;
    }
}

.align-right {
    text-align: right;
}

.align-right .link {
    display: inline-block;
    position: relative;
    font-weight: 600;
    transition: 0.5s;
}

.align-right .link:hover {
    transform: translateX(-5px);
    transition: 0.5s;
}

/* mini mastery bar */
#mini-mastery {
    width: 100%;
    display: flex;
    padding-top: calc(12px + 0.4vw);
    padding-bottom: calc(16px + 1vw);
    pointer-events: none;
    transition: 0.5s;
}

#mini-mastery.hide, #match-grid.hide, .button.hide {
    height: 0 !important;
    min-height: 0 !important;
    margin: 0 !important;
}

#mini-mastery .progress-bar {
    position: relative;
    margin: 0 calc(10px + 0.2vw);
    border-radius: 5px;
}

#mini-mastery #progress {
    border-radius: 5px 0 0 5px;
}

#mini-mastery #progress span {
    position: absolute;
    color: var(--text);
}

.two-grid.test {
    grid-template-columns: 2fr 3fr;
    transition: 0.5s;
}

#test-text {
    transition: 0.5s;
}

.param-desc.hide {
    height: 0 !important;
    min-height: 0 !important;
}